<% provide(:title, 'About') %>
<div class="center hero-unit">

<h1>How It Works</h1>
	
<p>Fitness Junction is a social fitness website that allows users to record, analyse, and share their personal fitness data.  It is aimed at all levels of fitness enthusiasts, from those just looking to get into shape, to running &amp; cycling enthusiasts, to those training for competitive events.  
</p>
<br/>

<h2>Upload data from a compatible GPS-enabled device.</h2>
	<ul class="thumbnails">
		<li class="span3">
    		<%= image_tag("garmin500.jpg", alt: "garmin_device", :class => 'thumbnail') %><!-- img source:https://buy.garmin.com/shop/shop.do?pID=36728&pvID=71394-->
    	</li>
    	<li class="span3">
    		<%= image_tag("garmin_forerunner.jpg", alt: "garmin_runner", :class => 'thumbnail') %><!-- img source:https://buy.garmin.com/shop/shop.do?cID=142&pID=83274-->
    	</li>
    	<li class="span3">
    		<%= image_tag("samsung_android.jpg", alt: "android_device", :class => 'thumbnail') %><!-- img source:http://www.galaxys3-forum.com/galaxy-s3-cases/s3-hard-cases/-->
    	</li>
    	<li class="span3">
    		<%= image_tag("iphone.jpg", alt: "iphone_device", :class => 'thumbnail') %><!-- img source: http://ie.mobilefun.com/36540-belkin-view-case-for-iphone-5-black.htm-->
    	</li>
    </ul>

<p>Use your Garmin GPS device, or your Android or iPhone to track your course as you run, cycle, swim, hike.  Upload the data to Fitness Junction to map where you've been and to analyse your training performance.  See the elevation profile of the route you've just completed.  View your heart rate data.  Track changes in your fitness measurements over time, such as your weight and your power. 
</p>

<%= image_tag("map_screenshot.png", alt: "sample_map") %>
<!--insert screenshot of map here -->

<h2>Follow other fitness enthusiasts</h2>
<p>See what your friends (and maybe even your competitors) are up to!  Follow people you know to keep updated on their fitness activities, share details of your own adventures, and exchange tips, advice and support.  Comment on your friend's runs, give a "thumbs up" when they beat their personal best.
</p>

<!--insert screenshot of follower stats here -->