<% provide(:title, @user.name) %>
<h2 class="center"><%= @user.name %></h2>
<br/>
<br/>
<div class="row-fluid">
  <aside class="span2">
    <section id="profile_sidebar">
       <h4>About Me</h4> 
       <%= gravatar_for @user %>
       <br/>
       <br/>
       <br/>
       <br/>
       <br/>
       <h6>Age:</h6>
       <h6>Location:</h6>
       <h6>Interests:</h6>
       <h6>Clubs:</h6>
       <%= link_to "edit profile", edit_user_path(current_user) %>
       <br/>
        <br/>
      

      <h4>Photos</h4>
        
        <p><%= image_tag("run.jpg", alt: "record") %></p>
        <p><%= image_tag("cows.jpg", alt: "record") %></p>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
       <br/>
        <br/>
        <br/>
        <br/>
        <br/>


    
    </section>
   
  </aside>

  <div class="span6">


    
      <h4>Activities (<%= @user.activities.count %>)  

      <% if current_user?(@user) %>    <%= link_to "New Activity", new_upload_path, class: "btn btn-medium btn-success" %></h4>
      <% end %>
     
        <% @user.activities.each do |activity| %>
        <h5>Type:<%= activity.activity_type %></h5>
         <%= link_to image_tag("map2.jpg", alt: "Rails", height: "90px", width: "90px"), 'http://rubyonrails.org/' %>
         <br/>

         <table class = "activity_details" >
<tr>
<th>Name</th>
<th>Date</th>
<th>Location</th>
<th>Distance</th>
<th>Duration</th>
</tr>
<tr>
<td><%= activity.name %></td>
<td><%= activity.date %></td>
<td><%= activity.location %></td>
<td><%= activity.distance %></td>
<td><%= activity.duration %></td>
</tr>
</table> 
        
        
        <% end %>
      
    
  
  </div>

  <aside class="span2 offset2">

     <section id = "friends_sidebar">
      <h4>Friends</h4>
      <%= render 'shared/stats' %>
      <%= render 'follow_form' if signed_in? %>
    
      <%= link_to image_tag("person-logo.png", alt: "friend1"), user_path(3) %>Friend1
      <br/>
      <br/>
      <%= link_to image_tag("person-logo.png", alt: "friend1"), user_path(102) %>Friend2
      <br/>
      <br/>
      <%= link_to image_tag("person-logo.png", alt: "friend1"), user_path(103) %>Friend3
      <br/>
      <br/>
      
    </section>
  </aside>

   <!--<aside class="span4  offset-1">
    <section>
      <h1>Recent Activities <%= link_to "Add New Activity", new_activity_path, class: "btn btn-small btn-success" %></h1>
      Monday 21st November, 20km run
<%= link_to image_tag("map3.jpg", alt: "Rails", height: "90px", width: "90px"), 'http://rubyonrails.org/' %> 
<br/>
<br/>
Friday 26th November, 75km cycle
<%= link_to image_tag("Google-Map-Route.jpg", alt: "Rails", height: "90px", width: "90px"), 'http://rubyonrails.org/' %>
<br/>
<br/>
Sunday 27th November, Marathon
<%= link_to image_tag("map2.jpg", alt: "Rails", height: "90px", width: "90px"), 'http://rubyonrails.org/' %>
      
      <br/>
      
      <br/>
      
    </section>
  </aside>-->

</div>