<% provide(:title, @user.name) %>
<h1 class="center">Dashboard</h1>
<div class="row-fluid">
  <aside class="span2">
    <section>
      <h1><%= @user.name %></h1>
       <%= gravatar_for @user %>
       <br/>
       <br/>
       <br/>
       <br/>
       <br/>
       <br/>
       <h6>Age:</h6>
       <h6>Location:</h6>
       <h6>Interests:</h6>
    </section>
  </aside>

  <div class="span8">
    <% if @user.activities.any? %>
      <h3>Activities (<%= @user.activities.count %>)</h3>
      <ol class="activities">
        <%= render @activities %>
      </ol>
      <%= will_paginate @activities %>
    <% end %>
  </div>

  <aside class="span2 offset4">
    <section>
      <h1>Amigos</h1>
      <%= link_to image_tag("person-logo.png", alt: "friend1"), '#' %>Friend1
      <br/>
      <br/>
      <%= link_to image_tag("person-logo.png", alt: "friend1"), '#' %>Friend2
      <br/>
      <br/>
      <%= link_to image_tag("person-logo.png", alt: "friend1"), '#' %>Friend3
      <br/>
      <br/>
      
    </section>
  </aside>

   

</div>