
<div id="graph"></div> 

<h5>Course ID: <%= @course.id %>
	<p>Date: <%= @course.created_at %></p>
	<p>Description: </p>
	<br/>
	<p>By: </p>
<div id="mapCanvas">
<%= gmaps({
		"markers"	=> { "data" => @markers },
       "polylines"    => { "data" => @course_polylines }
     })
 %>

</div>

<p><%= @maybemaybe %></p>

<h1><%= @course.trackpoints %></h1>

<h4>At Course:<%= @course %></h4>
<h4>Course id: <%= @course.id %></h4>
<h4>Course latitude: <%= @course.latitude %></h4>
<h4>Course longitude: <%= @course.longitude %></h4>
<h4>Course gmaps: <%= @course.gmaps %></h4>
	


<p>course_trackpoints: <%= @course_trackpoints %></p>
<h1>course_polylines: <%= @course_polylines %></h1>