<div class="center hero-unit">

<h2>File Uploaded!!</h2>
<h5>Course ID: <%= @course.id %></h5>

<p class="center">

Click <%= link_to "here ", course_path(@course) %>to view...</p>
<%= content_tag :div, "", id: "elevation_profile", data: {elevations: @elevations} %>

<!--<h6>two together (ele and time elements):<%= @two_together %></h6>-->

<h5>jayson to json:<%= @jayson_json %></h5>
<p>Json?? <%= @jayson %></p>
<h1>Zipped array? <%= @zipped_array %></h1>
<h2>Ele: <%= @elevations %></h2>
<h4>Times: <%= @times %></h4> 


