<% provide(:title, 'Activity') %>
<div class="center hero-unit">
<h1>Upload a new Activity</h1>
<p class="center">
  Select a file from your computer or from a connected device.
</p>
<div class="row">
  <div class="span4 offset2">
    <%= form_for @activity, :html => { :multipart => true} do |f| %>
    

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :upload, "Select file:" %>
      <%= f.file_field :upload %>
      <br/>
      

      <%= f.submit "Upload", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
</div>
