<%= @yoyo %>
<h6>Potential solution from stackoverflow: <%= @addresses %></h6>


<h3>Name: <%= @test1.text %></h3>
<p>Description: <%= @test.text %></p>
<p>Distance Meters <%= @test2.text %></p>

	

<p>Lat:<%= @lat_test %></p>
<p>Lon:<%= @lon_test %></p>

<h1>Test Array selection-First: <%= @trackp[0] %></h1>
<h1>Test Array selection-Last: <%= @trackp[-1] %></h1>


<p>Long trkpt: <%= @trackp %></p>
<p>Lat trkpt: <%= @lattrackp %></p>
<p> two together: <%= @two_together %></p>


<!--<%= @trackp_lon %>-->


