
<h3>test1<%= @test1.text %></h3>
<p>test<%= @test.text %></p>
<p>test2<%= @test2.text %></p>

	hjhjhjkhjkhh

	<%= @test %>

<p>Lat:<%= @lat_test %></p>
<p>Lon:<%= @lon_test %></p>

<%= @trackp %>
<!--<%= @trackp_lon %>-->


